<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Start-up - Google</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/modern-business.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="index.html">Google</a>
      
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="https://fr.wikipedia.org/wiki/Google" target="_blank">Wikipedia</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.google.fr" target="_blank">Page d'accueil</a>
          </li>
        
        </ul>
      </div>
    </div>
  </nav>

  <header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url('matrice.jpg')">
          <div class="carousel-caption d-none d-md-block">
            <h3>Venez découvrir notre univers</h3>
            <a href="https://www.google.fr" target="_blank"><button type="button" class="btn btn-success btn-lg">Call to action</button></a>
          </div>
        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('art.jpg')">
          <div class="carousel-caption d-none d-md-block">
            <h3>Venez découvrir notre univers</h3>
            <a href="https://www.google.fr" target="_blank"><button type="button" class="btn btn-success btn-lg">Call to action</button></a>
          </div>
        </div>
        <!-- Slide Three - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('circuit.jpg')">
          <div class="carousel-caption d-none d-md-block">
            <h3>Venez découvrir notre univers</h3>
            <a href="https://www.google.fr" target="_blank"><button type="button" class="btn btn-success btn-lg">Call to action</button></a>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </header>

  <!-- Page Content -->
  <div class="container text-center">

    <p class="my-4">Changez votre manière de chercher et trouver des informations. Ce nouveau moteur de recherche va changer votre façon de voir et d'expérimenter le Monde ! <br />
    « Organiser l’information mondiale et la rendre universellement accessible et utile à tous ».</p>

    <!-- Marketing Icons Section -->
    <div class="row text-center">
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <i class="fab fa-algolia fa-5x"></i>
          <div class="card-body">
            <p class="card-text"> <h5>Rapide ! </h5>
            <p> Ne perdez plus de temps à trouver ce que vous cherchez, vous êtes à 2 clicks away de la réponse !</p></p>
          </div>
        
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
           <i class="fas fa-euro-sign fa-5x"></i>
          <div class="card-body">
            <p class="card-text"><h5>Economique</h5>
            <p>Ne déboursez pas un sous ! Google est complètement gratuit pour toutes et pour tous. Démocratiser les informations et les rendre accessibles à tous, c'est notre mantra !</p></p>
          </div>
          
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <i class="fas fa-user-shield fa-5x"></i>
          <div class="card-body">
            <p class="card-text"><h5>Sécurisant</h5>
            <p>Nous garantissons que toutes vos données et historique de recherches resteront confidentiels. Vous gardez la main mise sur toutes ces informations personnelles. Nous ne sommes qu'un intermédiaire entre vous et les sites que vous cherchez. </p></p>
          </div>
         
        </div>
      </div>
    </div>
    <!-- /.row -->

   

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Made with love by Anne-Tahina Metz</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
